
# R / RStudio
.Rhistory
.RData
.Rproj.user/
.Ruserdata
*.Rproj

# Outputs and temp
outputs/
*.csv
*.png
*.pdf
*.rds
*.log
*.md

# OS junk
.DS_Store
Thumbs.db

model_rhs.cpp
validation_script.R
*_sean.R